body {
  margin: 0;
  background-image: url("assets/Reasturant.jpeg");
  width: 100vw;
}
main {
  background-color: rgba(255, 255, 255, 0.977);
  margin: auto;
  width: 85vw;
}
/* Classes */

.footer {
  margin-top: 0;
}
.footer-item {
  display: flex;
  flex-direction: column;
  padding: 5vw;
}
.heading {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  margin: auto;
  justify-content: center;
  padding-top: 3vw;
  color: #533223;
  & h1{
    font-size: 8vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  & h2 {
    font-size: 2.5vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:  0 10vw;
    font-weight: 100;
    font-style: oblique;
}
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 3vw;
    & p {
      font-size: 1.2vw;
    line-height: 5vh;
      text-align: center;
      padding: 0 10vw 1vw 10vw;
}
}
/* IDs */
#heading-img {
  width: 30vw;
    border-radius: 50px;
    margin: 5vw;
}
#location{
    margin-bottom: 30vh;
}